li{
  font-size: 1.1em;
}
a{
    font-size: 1.2em;
}
.mylabel{
  font-size: 1.4em;
  margin-right: 3em;
  margin-left: .5em;
  color: #B8B6B6;
}

.mylabel:hover{
  margin-right: 3em;
  margin-left: .5em;
  color: #8B0010;
  text-decoration: underline;
}

.mycheckbox {
  display: none;
}
input[type=checkbox]:checked + label {
  color: #8B0010;
}
.row{
  margin-top: 2em;
}
.formlabel{
  font-size: 1.5em;
}
.col-sm-3{
  height: 4.3em;
}
.venuecheck{
  text-align: center;
  height: 3em;
}
.myinline {
    display: inline-block;
}
.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  height: 100%;

  background: url('/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: blur(2.5px);
  -moz-filter: blur(2.5px);
  -o-filter: blur(2.5px);
  -ms-filter: blur(2.5px);
  filter: blur(2.5px);
}
.align{
  text-align: right;
}
.content {
  left: 0;
  right: 0;
  z-index: 0;
}
.jumbotron{
  height: 13vh;
  line-height: 200px;
  min-height: 175px;
  max-height: 250px;
  background: rgba(238, 238, 238, 0.7);
  text-align: center;
}
.link a{
    color: #8B0010!important;
}
.link a:hover {
    color: #3C0109 !important;
}
h2{
  color: #8B0010!important;
}

.content{
  margin-top: auto;
  margin-bottom: auto;
}
label{
  color: #8B0010;
}
.btn-mycolor{
  background-color: #8B0010;
  color: white;
}

.btn-mycolor:hover{
  background-color: #3C0109;
  color: white;
}
.cback{
  padding: 2em;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 2em;
  background: rgba(255, 255, 255, 0.85);
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(193,193,193, 0.75);
  margin: 1em 0;
  padding: 0;
}

@media only screen and (min-width : 320px) {
  .col-md-3{
    text-align: center;
    background: rgba(238, 238, 238, 0.8);
  }
  .col-md-3:hover{
    text-align: center;
    background: rgba(184,184,184, 0.8);
  }
 }

 /* Extra Small Devices, Phones */
 @media only screen and (min-width : 480px) {
   .col-md-3{
     text-align: center;
     background: rgba(238, 238, 238, 0.8);
   }
   .col-md-3:hover{
     text-align: center;
     background: rgba(184,184,184, 0.8);
   }
 }

 /* Small Devices, Tablets */
 @media only screen and (min-width : 768px) {
  .jumbotron h1{
     font-size: 3.3em;
   }
   .col-md-3{
     text-align: center;
     background: rgba(238, 238, 238, 0.8);
   }
   .col-md-3:hover{
     text-align: center;
     background: rgba(184,184,184, 0.8);
   }

 }

 /* Medium Devices, Desktops */
 @media only screen and (min-width : 992px) {
   .jumbotron h1{
      font-size: 3.8em;
    }
   .col-md-3{
     margin-top: 20vmin;
     text-align: center;
     width: 25%;
     height: 10%;
     background: rgba(238, 238, 238, 0.8);
   }
   .col-md-3 h3{
     font-size: 2em;
      line-height: 200px;
   }
   .col-md-3:hover{
     margin-top: 20vmin;
     text-align: center;
     width: 25%;
     height: 10%;
     background: rgba(184,184,184, 0.8);
   }

 }

 /* Large Devices, Wide Screens */
 @media only screen and (min-width : 1200px) {
   .col-md-3{
     margin-top: 20vmin;
     text-align: center;
     width: 25%;
     height: 10%;
     background: rgba(238, 238, 238, 0.8);
   }
   .col-md-3 h3{
     font-size: 2em;
     line-height: 200px;
   }

   .col-md-3:hover{
     margin-top: 20vmin;
     text-align: center;
     width: 25%;
     height: 10%;
     background: rgba(184,184,184, 0.8);
   }

 }
