<div class="jumbotron">
  <h1>Band Tracker</h1>
</div>
<div class="container">
  <div class="row">
    <a href="/venues"><div class="col-md-3">
      <h3>View Venues</h3>
    </div></a>
    <div class="col-md-1"></div>
    <a href="/bands"><div class="col-md-3">
      <h3>View Bands</h3>
    </div></a>
    <div class="col-md-1"></div>
    <a href="/bands/new"><div class="col-md-3">
      <h3>Add a Band</h3>
    </div></a>
  </div>
</div>
